<?xml version="1.0"?>

<configuration>
  <appSettings>
      <add key="Application3AddPage" value="add_article.aspx"/>
      <add key="Application3UpdatePage" value="update_article.aspx"/>
  </appSettings>
    
  <connectionStrings>
    <add name="EF_DB" connectionString="Data Source=(local);Initial Catalog=EF;Persist Security Info=True;User ID=EF;Password=EF" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <pages enableViewState="false" />
      
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/users/login.aspx" timeout="2880" />
    </authentication>

    <authorization>
      <deny users="?"/>
    </authorization>
    
    <membership defaultProvider="EFMembershipProvider">
      <providers>
        <clear />
        <add name="EFMembershipProvider" type="GHY.EF.Security.EFMembershipProvider" connectionStringName="EF_DB" applicationName="EF" />
      </providers>
    </membership>
      
    <roleManager enabled="true" defaultProvider="EFRoleProvider" cookieProtection="All">
      <providers>
        <clear />
        <add name="EFRoleProvider" type="GHY.EF.Security.EFRoleProvider" connectionStringName="EF_DB" applicationName="EF" />
      </providers>
    </roleManager>

    <httpRuntime requestValidationMode="2.0" />

    <customErrors mode="RemoteOnly" defaultRedirect="error.aspx" redirectMode="ResponseRewrite"/>
  </system.web>

    <location path="error.aspx">
      <system.web>
        <authorization>
          <allow users="*" />
        </authorization>
      </system.web>
    </location>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>