<?xml version="1.0"?>

<configuration>
  <appSettings/>

  <connectionStrings>
    <add name="EF_DB" connectionString="Data Source=(local);Initial Catalog=EF;Persist Security Info=True;User ID=EF;Password=EF" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <pages enableViewState="false">
      <controls>
        <add assembly="GHY.EF.Core" namespace="GHY.EF.Core.Info" tagPrefix="EF"/>
        <add assembly="GHY.EF.Article" namespace="GHY.EF.Article" tagPrefix="EF"/>
        <add src="~/controls/pager.ascx" tagName="Pager" tagPrefix="EF"/>
      </controls>
    </pages>
    
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
    </authentication>

    <customErrors mode="RemoteOnly" defaultRedirect="error.aspx" redirectMode="ResponseRewrite"/>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>